.gitattributes text eol=lf
.gitignore text eol=lf
*.txt text eol=lf
*.h text eol=lf
*.cpp text eol=lf
platformio.ini text eol=lf
sdkconfig.* text eol=lf
*.json text eol=lf
*.kicad_prl text eol=lf
*.kicad_pro text eol=lf
*.csv text eol=lf

