fp-info-cache
stepper_monitor.kicad_sch-bak
stepper_monitor.sch-bak
stepper_monitor.kicad_pcb-bak
stepper_monitor-backups
_autosave-stepper_monitor.sch
stepper_monitor.bak
stepper_monitor.bck
production
production.zip
_autosave-*
*auto_saved_files*

